@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BootstrapTest</title>
    <!-- Le styles -->
    <link href="@Url.Content("~/Content/twitter-bootstrap/bootstrap.less")" rel="stylesheet">
    <link href="@Url.Content("~/Content/new-bootstrap/bootstrap.css")" rel="stylesheet">
    @*<link href="@Url.Content("~/Content/etiketiustunde_main.css")" rel="stylesheet">*@
    @*<style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>*@
    @*<link href="@Url.Content("~/Content/twitter-bootstrap/responsive.less")" rel="stylesheet">*@
    <link href="@Url.Content("~/Content/new-bootstrap/bootstrap-responsive.css")" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span7 offset4">
                <h1>Etiketi Ustunde</h1>
            </div>
        </div>
    </div>
</body>
</html>
