@using EtiketiUstunde.Web.Models
@model EtiketiUstunde.Web.Models.LoginModel

@section Header
{
    <script src="@Url.Content("~/Scripts/etiketiustunde.login.js")"></script>
    <script type="text/javascript">
        $(function () {
            $('h1').on('click', function () {
                document.location.href = '@Url.Action("Index", "Home")';
            });

            $('.register_button').on('click', function () {
                document.location.href = '@Url.Action("Register", "Account")';
            });
        });
    </script>
}

@section Body
{

    <div class="boxShade row-fluid" style="margin-top: 5%">
        <div style="left: 42%">
            <h1 class="clickable">Etiketi Ustunde</h1>
        </div>
        <div class="span12">
            <div class="row-fluid">
                <div style="left: 28%">
                    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
                </div>
            </div>

            <div class="row-fluid" style="margin-top: 2%">
                <div class="manual_login-section" style="left: 30%">
                    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
                    {
                        @Html.AntiForgeryToken()

                        @Html.TextBoxFor(m => m.UserName, new { @placeholder = "kullanici adi" })
                        @Html.PasswordFor(m => m.Password, new { @placeholder = "sifre" })

                        <input type="submit" class="btn-success btn-large login_button_manual" value="Giris Yap" />
                        <span>Hesabiniz yok mu? @Html.ActionLink("Kayit olabilirsiniz.", "Register")
                        </span>
                    }
                </div>
                <div class="login-validation-section">
                    @Html.ValidationSummary(true)
                </div>
            </div>
    </div>
</div>
}

