@using EtiketiUstunde.Web.Models
@model EtiketiUstunde.Web.Models.LoginModel

@section Header
{
    <script src="@Url.Content("~/Scripts/etiketiustunde.login.js")"></script>
    <script type="text/javascript">
        $(function () {
            $('h1').on('click', function () {
                document.location.href = '@Url.Action("Index", "Home")';
            });

            $('.register_button').on('click', function () {
                document.location.href = '@Url.Action("Register", "Account")';
            });
        });
    </script>
}

@section Body
{
        <div class="boxShade">
            <div class="login-title">
                <h1><span class="clickable">Etiketi Ustunde</span></h1>
            </div>

            @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })

            <div class="manual_login-section">
                @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
                {
                    @Html.AntiForgeryToken()

                    @Html.TextBoxFor(m => m.UserName, new { @placeholder = "kullanici adi" })
                    @Html.PasswordFor(m => m.Password, new { @placeholder = "sifre" })

                    <input type="submit" class="btn-success btn-large login_button_manual" value="Giris Yap" />
                    <span>Hesabiniz yok mu? @Html.ActionLink("Kayit olabilirsiniz.", "Register")
                    </span>
                }
            </div>
            <div class="login-validation-section">
                @Html.ValidationSummary(true)
            </div>
        </div>
}

