@using EtiketiUstunde.Web.Models
@model EtiketiUstunde.Web.Models.RegisterModel

@section Header
{
    <script src="@Url.Content("~/Scripts/etiketiustunde.login.js")"></script>
    <script type="text/javascript">
        $(function () {
            $('h1 span').on('click', function () {
                document.location.href = '@Url.Action("Index", "Home")';
            });

            $('.register_button').on('click', function () {
                document.location.href = '@Url.Action("Login", "Account")';
            });
        });
    </script>
}

@section Body
{
        <div class="boxShade login-container">
            <div class="login-title">
                <h1><span class="clickable">Etiketi Üstünde</span></h1>
            </div>

            @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })

            <div class="manual_login-section">
                @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
                {
                    @Html.AntiForgeryToken()

                    @Html.TextBoxFor(m => m.UserName, new { @placeholder = "kullanıcı adı" })
                    @Html.PasswordFor(m => m.Password, new { @placeholder = "şifre" })
                    @Html.PasswordFor(m => m.ConfirmPassword, new {@placeholder = "şifre tekrar"})

                    <div class="login-actions">
                        <input type="submit" class="btn btn-large login_button_manual" value="Kayıt Ol" />
                        <span>Zaten hesabınız mı var? @Html.ActionLink("Giriş yapabilirsiniz", "Login")</span>
                    </div>
                }
            </div>
            <div class="login-validation-section">
                @Html.ValidationSummary(true)
            </div>
        </div>
}

